name: Update Schedule

on:
  schedule:
    - cron: '0 0 * * *'   # раз в сутки
  workflow_dispatch:      # ручной запуск из вкладки Actions

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build Schedule
        run: python build.py

      - name: Commit and Push
        run: |
          git config --global user.name 'Schedule Bot'
          git config --global user.email 'bot@noreply.github.com'
      
          ls -la
      
          if [ -f index.html ]; then
            git add index.html
            git diff --cached --quiet || git commit -m "Auto-update schedule"
            git push
          else
            echo "index.html не найден, пропускаю коммит"
          fi

